@import '~@blibli/blue-tokens/dist/blue-tokens.scss';
@import '~@blibli/blue-supports/dist/blue-supports.scss';

@font-face {
  font-family: 'effra';
  src: url('https://www.static-src.com/fonts/1.0.0/effra/effra-regular.woff2') format('woff2'),
  url('https://www.static-src.com/fonts/1.0.0/effra/effra-regular.ttf') format('truetype');
  font-display: fallback;

}
// Medium
@font-face {
  font-family: 'efframedium';
  src: url('https://www.static-src.com/fonts/1.0.0/effra/effraMedium-regular.woff2') format('woff2'),
  url('https://www.static-src.com/fonts/1.0.0/effra/efframedium-regular.ttf') format('truetype');
  font-display: fallback;
}
